body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Styling the "skip to main content" link to only be visible when in focus */
a.skip {
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    z-index: 1;
}

a.skip:focus {
    top:20px;
    color: black;
    text-decoration-style: solid;
    border: solid 2px #000000;
}

header {
    background-color: #F5F5F5;
}

footer {
    background-color: #F5F5F5;
    margin-top: 20px;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 15px;
}

h2 {
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.about-me {
    margin: 20px 20px 20px 20px;
    text-align: center;
}

/* style the nav elements */
.nav_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.nav_cont li {
    margin: 10px 10px 0px 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* style active link */
.index a.index, .baking a.baking, .travel a.travel {
    font-weight: bold;
    color: darkblue;
    border-style: solid;
}

h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
    margin-bottom: 15px;
}

/* style the images on both pages */
.travel_cont a {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* Style the travel page with grid */

.travel_cont {
    display:grid;
    grid-template-columns: 90%;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Style the baking page with flex */
.baking_cont a {
    width: 90%;
    object-fit: contain;
}
.baking_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Home-page photo style */
.home-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

/* First Media Query */
@media screen and (min-width: 750px) {
    /* style nav */
    .nav_cont {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav_cont li {
        font-size: 30px;
        margin: 40px 10px 30px 10px;
    }

    /* style travel */
    .travel_cont {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .travel_cont a:nth-child(3n), .travel_cont a:last-child {
        grid-column: 1 / span 2;
    }

    /* style baking */
    .baking_cont {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;
    }

    .baking_cont a {
        width: 45%;
        margin: 5px;
        /* height: 70%; */
        /* flex-basis: 300px; */
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size:x-large;
    }
    
    .about-me {
        font-size: larger;
        margin: 20px 35px 20px 35px;
    }
    
}


/* Second Media Query */
@media screen and (min-width: 1100px) {
    /* style nav */
    .nav_cont {
        display: flex;
        justify-content: flex-end;
        padding: 25px;
    }

    .nav_cont li {
        font-size: 40px;
    }

    /* style baking */
    .baking_cont a{
        width: 20%;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size:xx-large;
    }
    
    .about-me {
        font-size: x-large;
        margin: 20px 50px 20px 50px;
    }


    /* style travel */

    .travel_cont {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    .travel_cont a:nth-child(3n) {
        grid-column-start: 3;
        grid-column-end: 5;
    }
    .travel_cont a:last-child {
        grid-column-start: 1;
        grid-column-end: 5;
    }


}